<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml"
    {{- with .Site.Language.Lang }} xml:lang="{{- . -}}" lang="{{- . -}}"
    {{- end }}>
  <head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="{{- .Render "keywords" -}}">
    {{- with ((.Params.author) | default (.Site.Author)) }}
    <meta name="author" content="{{ . }}">
    {{- end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{- printf "%s%s" (.Site.Title) (printf ": %s" (((.Data.Term | pluralize) | default .Title)) | default "Personal Website") -}}</title>
    <style>
      html {
        color: #444;
        background-color: #eee;
      }
      body: { margin: 0; }
      header {
        overflow: hidden;
        padding: 1rem 0 3rem 0;
        background: linear-gradient(to bottom, #eeef 92%, #eee0);
      }
      main {
        width: 80vw;
        max-width: 40rem;
        margin: -4rem 1em -6rem;
        padding: 3rem 2rem 6rem;
        background: linear-gradient(to right, #eee0, #eeef 02%, #eeef 98%, #eee0);
      }
      footer {
        padding: 4rem 1rem 1rem;
        background: linear-gradient(to top, #eeef 97%, #eee0);
      }
      a {
        text-decoration: none;
        color: #3ac;
        display: inline;
        position: relative;
        border-bottom: 0.1rem dotted;
        line-height: 1.2;
        transition: border 0.3s;
      }
      a:hover {
        color: #5ce;
        outline-style: none;
        border-bottom: 0.1rem solid;
      }
      a:visited { color: #b8c; }
      a:visited:hover { color: #dae; }
      a:focus {
        outline-style: none;
        border-bottom: 0.1rem solid;
      }
      .skipToContentLink {
        opacity: 0;
        position: absolute;
      }
      .skipToContentLink:focus{
        opacity:1
      }
      ::selection {
        color: #222;
        background-color: #777;
      }
      img {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <a class="skipToContentLink" href="#content">Skip to Content</a>
    <header>
      <h1>{{ .Title | default (.Data.Term.Pluralize | default (.Site.Title | default "Personal Website")) }}</h1>
    </header>
    <main>
      {{- block "main" . -}}
        <!-- -->
      {{- end }}
    </main>
  </body>
</html>
