{{ define "main" }}
  {{ with .Content }}{{ . }}{{ end }}
  {{ partial "index-menu-listing.html" . }}
  {{ with .Site.Data.activities }}
    <h2>Recent Activites</h2>
    <ul>
      {{ range $date, $report := . }}
        <li>
          {{ (printf "**%s,** %s" (dateFormat "January 2, 2006" $date) $report) | safeHTML | markdownify }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
  {{ with .Site.Data.plans }}
    <h2>Plans</h2>
    {{ range $type, $plans := . }}
      <h3>{{ $type | upper }}</h3>
      <ul>
        {{ range $plans }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}
