{{ with .Params.mediaPackages }}
  <ul>
    {{ range . }}
      {{ with getJSON . }}
        {{ range $packageID, $packageDetails := . }}
          <li>{{ $packageDetails.name }}</li> - Created by
          {{ $packageDetails.creator }}, {{ $packageDetails.name }} is
          {{ $packageDetails.description }} released under the
          {{ $packageDetails.license }}.
	  {{ if $packageDetails.versions.current }}
            The current version is available through the following
            locations and formats:
            {{ with $packageDetails.versions.current }}
              <ul>
                {{ range $originName, $originDetails := . }}
                  <li>
                    <strong>{{ $originName | title }}</strong>:
                    {{ range $originDetails.formats }}
                      <a href="{{ $originDetails.location }}{{ $packageID }}.{{ . }}">
                        {{ . }}
                      </a>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
	{{ end }}
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
