{{- define "main" -}}

<article>
    <h1 class="post-title">404</h1>
    <p>
        Sorry, we have misplaced that URL or it's pointing to something that
        doesn't exist.
    </p>
    <p>
        Head back <a href="/">Home</a> or use the <a href="/search/">Search</a> to
        try finding it again.
    </p>
</article>

{{- end -}}
